[submodule "inputs/rest_blnd_can_fmriprep"]
	path = inputs/rest_blnd_can_fmriprep
	url = git@gin.g-node.org:/cpp-lln-lab/rest_blnd_can_fmriprep.git
	datalad-id = 73d29e70-653b-4320-8fcf-4d6525bc57e8
	datalad-url = git@gin.g-node.org:/cpp-lln-lab/rest_blnd_can_fmriprep.git
[submodule "code/lib/deepMReye"]
	path = code/lib/deepMReye
	url = https://github.com/DeepMReye/DeepMReye.git
